<!DOCTYPE html>
<html>
	<head>
		<title>Flying Sensor Node</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<header id="main-header" >
			<div class="container">
				<h1>Flying Sensor Node</h1>
			</div> 
		</header>
		<nav id="navbar">
			<div class="container">
				<ul>
					<li> <a href="home.html">Home</a></li>
					<li> <a href="map.html">Track</a></li>
					<li> <a href="video.html">Video</a></li>
					<li> <a href="sensor.html">Sensors</a></li>
					
				
				</ul>
			</div>
		</nav>

		<section id="showcase">
			<div class="container">
				<br><br><br>
				<h2> <font color="Black">Monitoring Made Easy</font> </h2> 
			</div>
		</section>
		<div class="container">
			<div id="wrapper">
			<section id="main">
				<h1>About</h1>
				<p>The Flying Sensor Node will monitor an area as per the mode specified. It has sensors like temperatureand humidity which give us real time data on the web, about the different parameters of the area. Live video stream, remote access and sensor data will also be available on the website.</p>
			</section>
			
		</div>
		</div>
		<footer id="main-footer">
			<h6>Flying Sensor Node</h6>
		</footer>
	</body>
</html>
