<!DOCTYPE html>
<html>
	<head>
		<title>Flying Sensor Node</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
	</head>
	<body>
		<header id="main-header" >
			<div class="container">
				<center><h1 >Flying Sensor Node</h1></center>
			</div> 
		</header>
		<nav id="navbar">
			<div class="container">
				<ul>
					<li> <a href="home.html">Home</a></li>
					<li> <a href="map.html">Track</a></li>
					<li> <a href="video.html">Video</a></li>
					<li> <a href="sensor.html">Sensors</a></li>
				</ul>
			</div>
		</nav>
		<nav id="navbar1">
			<div class="container">
				<ul>
					<li> <a href="sensorPlot.html">Sensor Data</a></li>
					<li> <a href="historicPlot.html">Historic Data</a></li>
				</ul>
			</div>
		</nav>

   
    <center><h1 class="container1"> Sensor Data </h1></center>
    <div id="g1"></div>
    <div id="g2"></div>
    <center><h3 id="refresh"> Last Sensors Reading: {{ time }} ==> <a href="/sensorPlot.html"class="button">REFRESH</a></h3>	</center>
	<footer id="main-footer">
			<h6>Flying Sensor Node </h6>
	</footer>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
	var g1, g2;
	document.addEventListener("DOMContentLoaded", function(event) {
	    g1 = new JustGage({
		id: "g1",
		value: {{temp}},
		valueFontColor: "#eee",
		decimals: true,
		min: 0,
		max: 100,
		title: "Temperature",
		label: "Celcius"
	});
	    g2 = new JustGage({
		id: "g2",
		value: {{ph}},
		valueFontColor: "#eee",
		decimals: true,
		min: 0,
		max: 100,
		title: "Humidity",
	});
      });
    </script>
</body>
</html>
